body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.modulos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boton {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border-radius: 5px;
}

.boton:hover {
    background-color: #0056b3;
}
